.grid-two {
  display: grid;
  grid-template-columns: auto auto;
  padding: 1rem;
  gap: 1rem;
}

.grid-three {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem;
  gap: 1rem;
}
