@import url(./css/constants.css);
@import url(./components/alert/alert.css);
@import url(./components/avatar/avatar.css);

.highlighted-text {
  color: var(--secondary);
}

.highlighted-container {
  padding: 0.5rem;
  background-color: var(--primary);
  opacity: 0.7;
}

/* BACKGROUNDS */
.bg-primary {
  background-color: var(--primary);
}
.bg-white {
  background-color: var(--white);
}
.bg-success {
  background-color: var(--success);
}
.bg-info {
  background-color: var(--info);
}
.bg-warning {
  background-color: var(--warning);
}
.bg-error {
  background-color: var(--error);
}

/* FONTS & FONT SIZES*/
.font-sans {
  font-family: var(--font-sans);
}
.font-mono {
  font-family: var(--font-mono);
}
.font-roman {
  font-family: var(--font-roman);
}
.h1 {
  font-size: 3rem;
}
.h2 {
  font-size: 2.3rem;
}
.h3 {
  font-size: 1.9rem;
}
.h4 {
  font-size: 1.3rem;
}
.h5 {
  font-size: 0.8rem;
}

/* DISPLAYS */
.flex {
  display: flex;
}
.block {
  display: block;
}

/* FLEX */
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.jc-flex-start {
  justify-content: flex-start;
}
.jc-flex-end {
  justify-content: flex-end;
}
.jc-center {
  justify-content: center;
}
.jc-space-around {
  justify-content: space-around;
}
.jc-space-between {
  justify-content: space-between;
}
.jc-space-evenly {
  justify-content: space-evenly;
}
.al-center {
  align-items: center;
}
.al-flex-start {
  align-items: flex-start;
}
.al-flex-end {
  align-items: flex-end;
}
.al-baseline {
  align-items: baseline;
}
.al-stretch {
  align-items: stretch;
}
/* HEIGHTS,WIDTHS,MARGINS AND PADDINGS */
.h-8 {
  height: 8rem;
}
.h-15 {
  height: 15rem;
}
.w-40 {
  min-width: 40rem;
}

.br-s {
  border-radius: 0.5rem;
}
.br-m {
  border-radius: 1rem;
}
.br-l {
  border-radius: 1.5rem;
}
.br-full {
  border-radius: 100rem;
}

/* MARGINS */
/* right margin */
.mr-auto {
  margin-right: auto;
}
.mr-s {
  margin-right: 1rem;
}
.mr-m {
  margin-right: 1.5rem;
}

.ml-auto {
  margin-left: auto;
}

.mt-s {
  margin-top: 1rem;
}
.mt-m {
  margin-top: 1.5rem;
}
.mt-l {
  margin-top: 2rem;
}
.mb-s {
  margin-bottom: 1rem;
}

/* padding */
.pd-s {
  padding: 0.1rem;
}
.pd-m {
  padding: 0.3rem;
}
.pd-l {
  padding: 0.5rem;
}
.pd-xl {
  padding: 1rem;
}
/* import all css component files in here */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--white);
  background-image: var(--bg-color);
  padding: 10px 25px;
}
a {
  color: var(--info);
  text-decoration: none;
}
.link {
  cursor: pointer;
}
.divider {
  width: 70vw;
  border-bottom: 0.1rem solid var(--secondary);
}

.text-align-left {
  text-align: left;
}
ul {
  list-style: none;
  padding: 0px;
}

/* move above to a main css file */

/* nav STYLES */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.topnav .header-logo {
  display: flex;
  align-items: center;
}
.topnav .header-image {
  width: 7rem;
  border-radius: 4rem;
}
.topnav-options * {
  font-size: 1rem;
  padding-left: 2rem;
  cursor: pointer;
}
.topnav-options :hover {
  color: var(--secondary);
}

/* ENTRY PAGE STYLES */
.about-container {
  text-align: center;
  position: relative;
  top: 20vh;
  margin: 0 10rem;
}
.about-container span {
  color: var(--info);
}
.about-container .heading {
  font-size: 4rem;
}
.about-container .subheading {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.about-container .action-items a {
  font-size: 1.5rem;
  font-family: sans-serif;
  text-decoration: none;
  margin-right: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 4rem;
  background-color: var(--success);
  color: var(--primary);
  box-shadow: 0.1rem 0.2rem 1rem var(--secondary);
}
.about-container .action-items a:nth-child(2) {
  background-color: var(--white);
}
.about-container .action-items a:hover {
  color: var(--white);
}

/* SIDEBAR AND MAIN CONTENT STYLES */
.sidebar-and-main-container {
  font-size: 1rem;
  margin-top: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.sidebar {
  margin-right: 6rem;
}
.sidebar-heading {
  padding-bottom: 0.5rem;
}
.list-item {
  color: var(--white);
  padding: 1rem 0px;
}
.list-item:hover {
  color: var(--success);
  cursor: pointer;
}

.main-container {
  line-height: 2rem;
}

.colorbox-list {
  display: flex;
  flex-wrap: wrap;
  text-shadow: var(--text-shadow);
}
.color-box {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
