<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ditsy UI</title>
  <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../../index.css" />
</head>

<body>
  <nav class="topnav">
    <a class="link" href="/"><img class="header-image" src="../../assets/logos/ditsy_logo.png" /></a>
    <div class="topnav-options"><span>Docs</span><span>Examples</span><span>Releases</span></div>
  </nav>

  <div class="sidebar-and-main-container">
    <div class="sidebar">
      <h3 class="sidebar-heading">GETTING STARTED</h3>
      <ul>
        <a href="../introduction/introduction.html">
          <li class="list-item">Introduction</li>
        </a>
        <a href="../colors/colors.html">
          <li class="list-item">Colors</li>
        </a>
        <a href="../typography/typography.html">
          <li class="list-item">Typography</li>
        </a>
        <a href="../open_source/open_source.html">
          <li class="list-item">Open Source</li>
        </a>
      </ul>
      <h3 class="sidebar-heading">COMPONENTS</h3>
      <ul>
        <a href="../avatar/avatar.html">
          <li class="list-item">Avatar</li>
        </a>
        <a href="../../components/alert/alert.html">
          <li class="list-item">Alert</li>
        </a>
        <a href="../badge/badge.html">
          <li class="list-item">Badge</li>
        </a>
        <a href="">
          <li class="list-item">Button</li>
        </a>
        <a href="../card/card.html">
          <li class="list-item">Card</li>
        </a>
        <a href="../image/image.html">
          <li class="list-item">Image</li>
        </a>
        <a href="../input/input.html">
          <li class="list-item">Input</li>
        </a>
        <a href="../list/list.html">
          <li class="list-item">List</li>
        </a>
        <a href="../modal/modal.html">
          <li class="list-item">Modal</li>
        </a>
        <a href="../navigation/navigation.html">
          <li class="list-item">Navigation</li>
        </a>
      </ul>
    </div>

    <main class="main-container">
      <h1 class="main-heading">Buttons</h1>
      <div class="divider"></div>

      <section>
        <h2>Primary</h2>
        <div class="container w-80">
          <button class="btn primary">Primary Button</button>
          <button class="btn semi-transparent">Semi Transparent Button</button>
          <button class="btn gradient">Gradient Button</button>
          <button class="btn gradient-border">Gradient Border Button</button>
          <button class="btn primary glow">Glow on Hover Button</button>
        </div>
      </section>

      <div class="divider"></div>
      <section>
        <h2>Link</h2>
        <button class="link-btn">Link Button</button>
        <button class="text-btn">Text Button</button>
      </section>
      <div class="divider"></div>

      <section>
        <h2>Icon with Label Button</h2>
        <div class="container w-80">
          <button class="icon-btn"><img class="btn-icon" src="../../assets/badge/shopping-cart.png"
              alt="cart icon" />ADD TO CART</button>
          <button class="icon-btn"><img class="btn-icon" src="../../assets/card/icons/wishlistt.png"
              alt="wishlist icon" />WISHLIST</button>
          <button class="icon-btn secondary-cta-btn"><img class="btn-icon" src="../../assets/card/icons/recycle-bin.png"
              alt="wishlist icon" />REMOVE</button>
        </div>
      </section>
      <div class="divider"></div>

      <section>
        <h2>Floating Action Button</h2>
        <button class="only-icon-btn"><img class="btn-icon-only" src="../../assets/badge/shopping-cart.png"
            alt="cart icon" /></button>
        <button class="only-icon-btn"><img class="btn-icon-only" src="../../assets/card/icons/wishlistt.png"
            alt="wishlist icon" /></button>
        <button class="only-icon-btn"><img class="btn-icon-only" src="../../assets/card/icons/recycle-bin.png"
            alt="remove icon" /></button>
        <button class="only-icon-btn"><img class="btn-icon-only" src="../../assets/card/icons/view-similar.png"
            alt="details icon" /></button>
      </section>
    </main>
  </div>
</body>

</html>