<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ditsy UI</title>
    <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../index.css" />
  </head>

  <body>
    <nav class="topnav">
      <a class="link" href="/"><img class="header-image" src="../../assets/logos/ditsy_logo.png" /></a>
      <div class="topnav-options"><span>Docs</span><span>Examples</span><span>Releases</span></div>
    </nav>

    <div class="sidebar-and-main-container">
      <div class="sidebar">
        <h3 class="sidebar-heading">GETTING STARTED</h3>
        <ul>
          <a href="../../get-started/introduction/introduction.html"><li class="list-item">Introduction</li></a>
          <a href="../../get-started/colors/colors.html"><li class="list-item">Colors</li></a>
          <a href="../../get-started/typography/typography.html"><li class="list-item">Typography</li></a>
          <a href="../../get-started/open_source/open_source.html"><li class="list-item">Open Source</li></a>
        </ul>
        <h3 class="sidebar-heading">COMPONENTS</h3>
        <ul>
          <a href="../avatar/avatar.html">
            <li class="list-item">Avatar</li>
          </a>
          <a href="../alert/alert.html">
            <li class="list-item">Alert</li>
          </a>
          <a href="../badge/badge.html">
            <li class="list-item">Badge</li>
          </a>
          <a href="../button/button.html">
            <li class="list-item">Button</li>
          </a>
          <a href="../card/card.html">
            <li class="list-item">Card</li>
          </a>
          <a href="../grid/grid.html">
            <li class="list-item">Grid</li>
          </a>
          <a href="../image/image.html">
            <li class="list-item">Image</li>
          </a>
          <a href="../input/input.html">
            <li class="list-item">Input</li>
          </a>
          <a href="../list/list.html">
            <li class="list-item">List</li>
          </a>
          <a href="../modal/modal.html">
            <li class="list-item">Modal</li>
          </a>
          <a href="../navigation/navigation.html">
            <li class="list-item">Navigation</li>
          </a>
          <a href="../rating/rating.html">
            <li class="list-item">Rating</li>
          </a>
          <a href="../slider/slider.html">
            <li class="list-item">Slider</li>
          <a href="../snackbar/snackbar.html">
            <li class="list-item">Snackbar</li>
          </a>
        </ul>
      </div>

      <main class="main-container">
        <h1 class="main-heading">Avatar</h1>
        <div class="divider"></div>

        <section>
          <h2>Default Avatars</h2>
          <div class="bg-primary pd-xl flex jc-space-evenly">
            <img class="avatar" src="../../assets/avatars/avatar_01.svg" alt="avatar 1" />
            <img class="avatar" src="../../assets/avatars/avatar_02.svg" alt="avatar 2" />
            <img class="avatar" src="../../assets/avatars/avatar_03.svg" alt="avatar 3" />
          </div>
          <img class="h-15 w-40 block mr-auto ml-auto br-l mt-s mb-s" src="../../assets/code examples/default_avatar.png" alt="code example" />
        </section>

        <div class="divider"></div>

        <section>
          <h2>Rounded Avatars</h2>
          <div class="bg-primary pd-xl flex jc-space-evenly">
            <img class="avatar rounded-avatar" src="../../assets/avatars/avatar_01.svg" alt="avatar 1" />
            <img class="avatar rounded-avatar" src="../../assets/avatars/avatar_02.svg" alt="avatar 2" />
            <img class="avatar rounded-avatar" src="../../assets/avatars/avatar_03.svg" alt="avatar 3" />
          </div>
          <img class="h-15 w-40 block mr-auto ml-auto br-l mt-s mb-s" src="../../assets/code examples/rounded_avatar.png" alt="code example" />
        </section>
        <div class="divider"></div>

        <section>
          <h2>Circular Avatars</h2>
          <div class="bg-primary pd-xl flex jc-space-evenly">
            <img class="avatar circular-avatar" src="../../assets/avatars/avatar_01.svg" alt="avatar 1" />
            <img class="avatar circular-avatar" src="../../assets/avatars/avatar_02.svg" alt="avatar 2" />
            <img class="avatar circular-avatar" src="../../assets/avatars/avatar_03.svg" alt="avatar 3" />
          </div>
          <img class="h-15 w-40 block mr-auto ml-auto br-l mt-s mb-s" src="../../assets/code examples/circular_avatar.png" alt="code example" />
        </section>
        <div class="divider"></div>

        <section>
          <h2>Sizing Avatar</h2>
          <div class="bg-primary pd-xl flex al-center jc-space-evenly">
            <img class="avatar sm circular-avatar" src="../../assets/avatars/avatar_01.svg" alt="avatar 1" />
            <img class="avatar md circular-avatar" src="../../assets/avatars/avatar_01.svg" alt="avatar 2" />
            <img class="avatar lg circular-avatar" src="../../assets/avatars/avatar_01.svg" alt="avatar 3" />
          </div>
          <img class="h-15 w-40 block mr-auto ml-auto br-l mt-s mb-s" src="../../assets/code examples/sizing_avatar.png" alt="code example" />
        </section>
      </main>
    </div>
  </body>
</html>
