.basic-list{
    font-size: 1.5rem;
    background-color: var(--white);
}
.basic-list li{
   padding: 0.8rem 1.6rem;
   color: var(--primary);
}
.basic-list li:hover{
    background-color: var(--semi-transparent-border);
    cursor: pointer;
}

.stacked-list{
    font-size: 1.5rem;
    background-color: var(--white);
}
.stacked-list li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.6rem;
    color: var(--primary);
}
.stacked-list li:hover{
    background-color: var(--semi-transparent-border);
    cursor: pointer;
}

.sticky-header{
    position: sticky;
    background-image: var(--gradient-btn);
    color: var(--white);
    padding: 1rem;
    top: 0;
}