<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ditsy UI</title>
    <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../index.css" />
  </head>

  <body>
    <nav class="topnav">
      <a class="link" href="/"><img class="header-image" src="../../assets/logos/ditsy_logo.png" /></a>
      <div class="topnav-options"><span>Docs</span><span>Examples</span><span>Releases</span></div>
    </nav>

    <div class="sidebar-and-main-container">
      <div class="sidebar">
        <h3 class="sidebar-heading">GETTING STARTED</h3>
        <ul>
          <a href="../../get-started/introduction/introduction.html">
            <li class="list-item">Introduction</li>
          </a>
          <a href="../../get-started/colors/colors.html">
            <li class="list-item">Colors</li>
          </a>
          <a href="../../get-started/typography/typography.html">
            <li class="list-item">Typography</li>
          </a>
          <a href="../../get-started/open_source/open_source.html">
            <li class="list-item">Open Source</li>
          </a>
        </ul>
        <h3 class="sidebar-heading">COMPONENTS</h3>
        <ul>
          <a href="../avatar/avatar.html">
            <li class="list-item">Avatar</li>
          </a>
          <a href="../alert/alert.html">
            <li class="list-item">Alert</li>
          </a>
          <a href="../badge/badge.html">
            <li class="list-item">Badge</li>
          </a>
          <a href="../button/button.html">
            <li class="list-item">Button</li>
          </a>
          <a href="../card/card.html">
            <li class="list-item">Card</li>
          </a>
          <a href="../image/image.html">
            <li class="list-item">Image</li>
          </a>
          <a href="../input/input.html">
            <li class="list-item">Input</li>
          </a>
          <a href="../list/list.html">
            <li class="list-item">List</li>
          </a>
          <a href="../modal/modal.html">
            <li class="list-item">Modal</li>
          </a>
          <a href="../navigation/navigation.html">
            <li class="list-item">Navigation</li>
          </a>
          <a href="../rating/rating.html">
            <li class="list-item">Rating</li>
          </a>
        </ul>
      </div>

      <main class="main-container">
        <h1 class="main-heading">List</h1>
        <div class="divider"></div>

        <section>
          <h2>Basic List</h2>
          <div class="container w-80">
            <ul class="basic-list">
              <li>List Item 1</li>
              <li>List Item 2</li>
              <li>List Item 3</li>
              <li>List Item 4</li>
            </ul>
          </div>
        </section>
        <div class="divider"></div>

        <section>
          <h2>Stacked Lists</h2>
          <div class="container w-80">
            <ul class="stacked-list">
              <li>
                <img class="avatar circular-avatar mr-s" src="../../assets/avatars/avatar_03.svg" alt="avatar 3" />
                You have a new follower, <strong> Anni</strong>
              </li>
              <li>
                <img class="avatar circular-avatar mr-s" src="../../assets/avatars/avatar_02.svg" alt="avatar 2" />
                You have a new follower, <strong> Anni</strong>
              </li>
              <li>
                <img class="avatar circular-avatar mr-s" src="../../assets/avatars/avatar_01.svg" alt="avatar 1" />
                You have a new follower, <strong> Anni</strong>
              </li>
            </ul>
          </div>
        </section>
        <div class="divider"></div>

        <section>
          <h2>Sticky Header List</h2>
          <div class="container w-80">
            <ul class="basic-list h-15 vertical-scroll">
              <div class="sticky-header">I'm sticky header</div>
              <li>List Item 1</li>
              <li>List Item 2</li>
              <li>List Item 3</li>
              <li>List Item 4</li>
              <li>List Item 5</li>
              <li>List Item 6</li>
            </ul>
          </div>
        </section>
        <div class="divider"></div>

        <h2>Interactive Lists</h2>
        <section>
          <h2>Checkbox</h2>
          <div class="w-80">
            <ul>
              <label class="checkbox-container"
                >I'm a happy person
                <input class="checkbox-input" type="checkbox" />
                <span class="checkmark"></span>
              </label>
              <label class="checkbox-container"
                >I'm a sad person
                <input class="checkbox-input" type="checkbox" />
                <span class="checkmark"></span>
              </label>
              <label class="checkbox-container"
                >I'm barely a person
                <input class="checkbox-input" type="checkbox" />
                <span class="checkmark"></span>
              </label>
            </ul>
          </div>
        </section>
        <br />
        <section>
          <h2>Radio Buttons</h2>
          <div class="w-80">
            <ul>
              <li>
                <input class="radio-input" name="action" type="radio" />
                <label class="radio-label">I'm a happy person</label>
              </li>
              <li>
                <input class="radio-input" name="action" type="radio" />
                <label class="radio-label">I'm a sad person</label>
              </li>
              <li>
                <input class="radio-input" name="action" type="radio" />
                <label class="radio-label">I'm barely a person</label>
              </li>
            </ul>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
