.badge {
  position: relative;
  left: 3.7rem;
  bottom: 2rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--primary);
}
.online {
  background-color: var(--success);
}
.idle {
  background-color: var(--warning);
}
.dnd {
  background-color: var(--error);
  font-size: x-large;
  text-align: center;
}
.offline {
  background-color: var(--primary);
  opacity: 0.5;
}

.number-badge {
  position: relative;
  left: 4.6rem;
  bottom: 6rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  background-color: var(--info);
}
