<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ditsy UI</title>
  <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="../../index.css" />
</head>

<body>
  <nav class="topnav">
    <a class="link" href="/"><img class="header-image" src="../../assets/logos/ditsy_logo.png" /></a>
    <div class="topnav-options"><span>Docs</span><span>Examples</span><span>Releases</span></div>
  </nav>

  <div class="sidebar-and-main-container">
    <div class="sidebar">
      <h3 class="sidebar-heading">GETTING STARTED</h3>
      <ul>
        <a href="../../get-started/introduction/introduction.html">
          <li class="list-item">Introduction</li>
        </a>
        <a href="../colors/colors.html">
          <li class="list-item">Colors</li>
        </a>
        <a href="../typography/typography.html">
          <li class="list-item">Typography</li>
        </a>
        <a href="../open_source/open_source.html">
          <li class="list-item">Open Source</li>
        </a>
      </ul>
      <h3 class="sidebar-heading">COMPONENTS</h3>
      <ul>
        <a href="../avatar/avatar.html">
          <li class="list-item">Avatar</li>
        </a>
        <a href="../../components/alert/alert.html">
          <li class="list-item">Alert</li>
        </a>
        <a href="../badge/badge.html">
          <li class="list-item">Badge</li>
        </a>
        <a href="../button/button.html">
          <li class="list-item">Button</li>
        </a>
        <a href=".../card/card.html">
          <li class="list-item">Card</li>
        </a>
        <a href="../image/image.html">
          <li class="list-item">Image</li>
        </a>
        <a href="../input/input.html">
          <li class="list-item">Input</li>
        </a>
        <a href="../list/list.html">
          <li class="list-item">List</li>
        </a>
        <a href="../modal/modal.html">
          <li class="list-item">Modal</li>
        </a>
        <a href="../navigation/navigation.html">
          <li class="list-item">Navigation</li>
        </a>
      </ul>
    </div>

    <main class="main-container">
      <h1 class="main-heading">Badge</h1>
      <div class="divider"></div>

      <section>
        <h2>Profile Badge</h2>
        <p>
          Modes are
          <span class="highlighted-text"> <code>online</code> | <code>idle</code> | <code>do not disturb</code> |
            <code>offline</code> | </span>
        </p>
        <div class="bg-primary pd-xl flex jc-space-evenly al-center">
          <div>
            <img class="avatar circular-avatar" src="../../assets/avatars/avatar_01.svg" alt="online" />
            <div class="badge online"></div>
          </div>

          <div>
            <img class="avatar circular-avatar" src="../../assets/avatars/avatar_01.svg" alt="idle" />
            <div class="badge idle"></div>
          </div>

          <div>
            <img class="avatar circular-avatar" src="../../assets/avatars/avatar_01.svg" alt="dnd" />
            <div class="badge dnd">
              <span class="relative bottom-s">-</span>
            </div>
          </div>

          <div>
            <img class="avatar circular-avatar" src="../../assets/avatars/avatar_01.svg" alt="offline" />
            <div class="badge offline"></div>
          </div>
        </div>
        <img class="h-15 w-40 block mr-auto ml-auto br-l mt-s mb-s" src="../../assets/code examples/circular_avatar.png"
          alt="code example" />
      </section>
      <div class="divider"></div>

      <section>
        <h2>Icon Badge</h2>
        <div class="bg-primary pd-xl flex al-center jc-space-evenly">
          <div>
            <img class="avatar" src="../../assets/badge/shopping-cart.png" alt="cart badge" />
            <div class="number-badge"></div>
          </div>

          <div>
            <img class="avatar" src="../../assets/badge/message.png" alt="messages badge" />
            <div class="number-badge"></div>
          </div>

          <div>
            <img class="avatar" src="../../assets/badge/notification.png" alt="notification badge" />
            <div class="number-badge"></div>
          </div>
        </div>

        <img class="h-15 w-40 block mr-auto ml-auto br-l mt-s mb-s" src="../../assets/code examples/number_badge.png"
          alt="code example" />
      </section>
    </main>
  </div>
</body>

</html>